@page "/fetchdata"
@using Cadof.Shared.Models.Character;
@using Cadof.Web.App.Services;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Rpg.Web.App.Shared
@attribute [Authorize]
@inject CharacterService _characterService

<div>Salve</div>

@code {
    private List<CharacterModel> _characters;

    private bool _notFound = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await _characterService.GetAll();

            if(res == null)
            {
                _notFound = true;
                return;
            }

            _characters = res;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}